.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.feedback-modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.feedback-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-modal__close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.feedback-modal__body {
  margin-top: 20px;
}

.feedback-modal__options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.feedback-modal__option {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.yes-button:hover {
  transition: background-color 1s ease;
  background-color: green;
}

.no-button:hover {
  transition: background-color 1s ease;
  background-color: red;
}

.feedback-modal__option.selected {
  border-color: #000;
  color: #fff;
}

.feedback-modal__option.useful.selected {
  background: green;
}

.feedback-modal__option.not-useful.selected {
  background: red;
}

.feedback-modal__textarea {
  width: 85%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.feedback-modal__footer {
  margin-top: 20px;
  text-align: right;
}

.feedback-modal__submit {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.feedback-modal__submit:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.feedback-modal__submit:hover:not(:disabled) {
  background: #0056b3;
}
