.book-detail {
  display: flex;
}

.book-detail__block-left,
.book-detail__block-right {
  width: 50%;
}

.book-detail__arrow-align {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.book-detail__arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: left;
}

.book-detail__block-image {
  background-color: #eff2f2;
  height: 653px;
}

.book-detail__image-big {
  width: 350px;
  height: 500px;
  margin-top: 50px;
}

.book-detail__info {
  text-align: left;
  padding-left: 55px;
}

.book-detail__title {
  font-size: 1.5em;
  margin-top: 35px;
  font-weight: 500;
}

.book-detail__categories {
  margin-top: 20px;
  font-size: 1.1em;
}

.book-detail__authors {
  margin-top: 20px;
  font-size: 1.1em;
  color: #b8d8d7;
  text-decoration: underline;
  margin-bottom: 30px;
}

.book-detail__description {
  width: 600px;
  /* height: 250px; */
  overflow: auto;
  max-height: 250px;
}

.book-detail__description-text {
  font-size: 1.1em;
  padding: 15px;
  border: solid 1px #b8d8d7;
}
